In [54]:
import requests, json
import pandas as pd

In [55]:
response = requests.get('http://192.168.26.172:14002/all_rt_buses_data').text

In [56]:
route_data = json.loads(response)

In [57]:
len(route_data)

40600

In [72]:
route_data[1:5]

[{'vehicle_id': 'DL1PC6606',
  'agency': 'DIMTS',
  'route_long_name': '85DOWN',
  'route_id': 483,
  'upcoming_stop_idx': 39,
  'upcoming_stop_id': 2887,
  'eta': 21038387,
  'stops_in_btw': 1},
 {'vehicle_id': 'DL1PC6606',
  'agency': 'DIMTS',
  'route_long_name': '85DOWN',
  'route_id': 483,
  'upcoming_stop_idx': 40,
  'upcoming_stop_id': 2888,
  'eta': 21038388,
  'stops_in_btw': 2},
 {'vehicle_id': 'DL1PC6606',
  'agency': 'DIMTS',
  'route_long_name': '85DOWN',
  'route_id': 483,
  'upcoming_stop_idx': 41,
  'upcoming_stop_id': 2889,
  'eta': 21038389,
  'stops_in_btw': 3},
 {'vehicle_id': 'DL1PC6606',
  'agency': 'DIMTS',
  'route_long_name': '85DOWN',
  'route_id': 483,
  'upcoming_stop_idx': 42,
  'upcoming_stop_id': 2985,
  'eta': 21038390,
  'stops_in_btw': 4}]

In [59]:
type(route_data)

list

In [73]:
vehicle_list=[route_data[i]['vehicle_id'] for i in range(len(route_data))]

In [74]:
len(vehicle_list)

40600

In [75]:
route_list=[route_data[i]['route_long_name'] for i in range(len(route_data))]
len(route_list)

40600

In [76]:
column_name = list(route_data[0].keys())
column_name

['vehicle_id',
 'agency',
 'route_long_name',
 'route_id',
 'upcoming_stop_idx',
 'upcoming_stop_id',
 'eta',
 'stops_in_btw']

In [77]:
route_dict=dict()

for id in column_name:
     route_dict[id]= [route_data[i][id] for i in range(len(route_data))]

In [78]:
route_df=pd.DataFrame(route_dict)

In [79]:
route_df.columns

Index(['vehicle_id', 'agency', 'route_long_name', 'route_id',
       'upcoming_stop_idx', 'upcoming_stop_id', 'eta', 'stops_in_btw'],
      dtype='object')

In [80]:
route_df.dtypes

vehicle_id           object
agency               object
route_long_name      object
route_id              int64
upcoming_stop_idx     int64
upcoming_stop_id      int64
eta                   int64
stops_in_btw          int64
dtype: object

In [81]:
route_df.shape

(40600, 8)

In [82]:
route_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40600 entries, 0 to 40599
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   vehicle_id         40600 non-null  object
 1   agency             40600 non-null  object
 2   route_long_name    40600 non-null  object
 3   route_id           40600 non-null  int64
 4   upcoming_stop_idx  40600 non-null  int64
 5   upcoming_stop_id   40600 non-null  int64
 6   eta                40600 non-null  int64
 7   stops_in_btw       40600 non-null  int64
dtypes: int64(5), object(3)
memory usage: 2.5+ MB

In [83]:
route_df.head(20)

,vehicle_id,agency,route_long_name,route_id,upcoming_stop_idx,upcoming_stop_id,eta,stops_in_btw
0,DL1PC6606,DIMTS,85DOWN,483,38,2886,21038386,0
1,DL1PC6606,DIMTS,85DOWN,483,39,2887,21038387,1
2,DL1PC6606,DIMTS,85DOWN,483,40,2888,21038388,2
3,DL1PC6606,DIMTS,85DOWN,483,41,2889,21038389,3
4,DL1PC6606,DIMTS,85DOWN,483,42,2985,21038390,4
5,DL1PC6606,DIMTS,85DOWN,483,43,2890,21038391,5
6,DL1PC6606,DIMTS,85DOWN,483,44,2891,21038392,6
7,DL1PC6606,DIMTS,85DOWN,483,45,1303,21038394,7
8,DL1PC6606,DIMTS,85DOWN,483,46,1304,21038395,8
9,DL1PC6606,DIMTS,85DOWN,483,47,1305,21038398,9
10,DL1PC6606,DIMTS,85DOWN,483,48,1306,21038399,10
11,DL1PC6606,DIMTS,85DOWN,483,49,68,21038401,11
12,DL1PD4851,DIMTS,835DOWN,1096,47,1824,1,0
13,DL1PD5111,DIMTS,539UP,185,76,1501,3,0
14,DL1PD5067,DIMTS,822UP,1204,41,2847,11,0
15,DL1PD5067,DIMTS,822UP,1204,42,4152,15,1
16,DL1PD5067,DIMTS,822UP,1204,43,4153,16,2
17,DL1PD5067,DIMTS,822UP,1204,44,4154,17,3
18,DL1PD5067,DIMTS,822UP,1204,45,4155,18,4
19,DL1PD4729,DIMTS,149AUP,395,4,250,4,0

In [85]:
route_df.tail(20)

,vehicle_id,agency,route_long_name,route_id,upcoming_stop_idx,upcoming_stop_id,eta,stops_in_btw
40580,DL1PD0025,DIMTS,972EXTDOWN,1042,33,1989,60,31
40581,DL1PD0025,DIMTS,972EXTDOWN,1042,34,2354,63,32
40582,DL1PD0025,DIMTS,972EXTDOWN,1042,35,2355,67,33
40583,DL1PD0025,DIMTS,972EXTDOWN,1042,36,2356,69,34
40584,DL1PD0025,DIMTS,972EXTDOWN,1042,37,2357,70,35
40585,DL1PD0025,DIMTS,972EXTDOWN,1042,38,2358,72,36
40586,DL1PD0025,DIMTS,972EXTDOWN,1042,39,2359,73,37
40587,DL1PD0025,DIMTS,972EXTDOWN,1042,40,2360,77,38
40588,DL1PD0025,DIMTS,972EXTDOWN,1042,41,2361,78,39
40589,DL1PD0025,DIMTS,972EXTDOWN,1042,42,2362,83,40
40590,DL1PD0025,DIMTS,972EXTDOWN,1042,43,2363,85,41
40591,DL1PD0025,DIMTS,972EXTDOWN,1042,44,2364,86,42
40592,DL1PD0025,DIMTS,972EXTDOWN,1042,45,2365,91,43
40593,DL1PD0025,DIMTS,972EXTDOWN,1042,46,2366,95,44
40594,DL1PD0025,DIMTS,972EXTDOWN,1042,47,2367,96,45
40595,DL1PD0025,DIMTS,972EXTDOWN,1042,48,103,97,46
40596,DL1PD0025,DIMTS,972EXTDOWN,1042,49,2899,98,47
40597,DL1PD0025,DIMTS,972EXTDOWN,1042,50,3813,99,48
40598,DL1PC6765,DIMTS,534DOWN,385,51,68,2,0
40599,DL1PD4854,DIMTS,104UP,149,39,2583,6,0

In [86]:
route_df.isnull().sum()

vehicle_id           0
agency               0
route_long_name      0
route_id             0
upcoming_stop_idx    0
upcoming_stop_id     0
eta                  0
stops_in_btw         0
dtype: int64

In [90]:
route_df.describe()

,route_id,upcoming_stop_idx,upcoming_stop_id,eta,stops_in_btw
count,40600.000000,40600.000000,40600.000000,4.060000e+04,40600.000000
mean,621.778547,34.184335,1479.613153,6.252243e+03,15.807094
std,367.522550,15.228191,1054.970278,3.616435e+05,12.890925
min,1.000000,1.000000,0.000000,-3.000000e+00,0.000000
25%,290.000000,23.000000,627.000000,1.400000e+01,5.000000
50%,603.000000,34.000000,1315.000000,2.800000e+01,13.000000
75%,954.000000,44.000000,2257.000000,4.800000e+01,23.000000
max,1268.000000,103.000000,4264.000000,2.103840e+07,92.000000

In [91]:
route_df.nunique()

vehicle_id           2263
agency                  1
route_long_name       603
route_id              603
upcoming_stop_idx     103
upcoming_stop_id     3418
eta                   193
stops_in_btw           93
dtype: int64

In [104]:
route_df[route_df.duplicated()]

Empty DataFrame
Columns: [vehicle_id, agency, route_long_name, route_id, upcoming_stop_idx, upcoming_stop_id, eta, stops_in_btw]
Index: []

In [110]:
route_grouped=route_df.groupby(['route_long_name','route_id'])
route_grouped

In [113]:
route_df.groupby(['route_long_name','route_id'])['vehicle_id'].count()

route_long_name                route_id
03DOWN                         706          26
03UP                           759          74
100DOWN                        829         140
100UP                          540          97
101BDOWN                       397           1
                                          ...
TMS(+)LAJPATNAGAR              336          39
TMS+LAJPAT-AZADPUR             978           9
TMS-LAJPATNAGAR                1188        348
TMS-LAJPATNGR-AZADPURTERMINAL  338          50
TMS-PBAGH                      1018         68
Name: vehicle_id, Length: 603, dtype: int64